@import "tailwindcss";

@theme {

  --color-scheme: light dark;
}

@variant dark (&:where(.dark, .dark *));

* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

::-webkit-scrollbar {
  width: 4px; 
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.45);
}
